* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0;
  color: #ffffff;
  background-color: #000000;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #000000;
  width: 340px;
  border-radius: 1rem;
  margin-right: 0.4rem;
}

.main-content {
  background-color: #121212;
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
  padding-left: 1.25rem;
}

.music-player {
  background-color: #121212;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 72px;
  border-radius: 1rem;
  margin: 3rem 10rem 0rem 0rem;
}

a {
  text-decoration: none;
}

.nav {
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0.5rem 0.75rem;
}

.nav-option {
  background-color: #121212;
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.5rem;
}

.nav-option:hover {
  opacity: 1;
}
.nav-option i {
  font-size: 1.25rem;
}

.nav-option a {
  margin: 1rem;
}

.library {
  background-color: #121212;
  border-radius: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem;
  height: 100%;
}

.option {
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lib-option img {
  height: 1.25rem;
  width: 1.25rem;
}
.lib-option {
  margin-left: 0.5rem;
}
.icons {
  margin-right: 1rem;
  background-color: #121212;
}
.icons i {
  opacity: 0.7;
}
.icons i:hover {
  opacity: 1;
}

.box {
  background-color: #232323;
  padding: 1rem 1.25rem;
  height: 8rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

.box-p1 {
  background-color: #232323;
  padding-top: 0.7rem;
  font-weight: 500;
  font-size: 1rem;
}

.box-p2 {
  background-color: #232323;
  padding-top: 0.7rem;
  opacity: 0.75;
  font-size: 0.75rem;
}

.badge {
  background-color: #ffffff;
  color: #000000;
  border-radius: 1rem;
  margin-top: 0.7rem;
  padding: 0.5rem 1rem;
}

.lib-box {
  background-color: #121212;
}

.sticky-nav {
  position: sticky;
  top: 0;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sticky-nav-icons {
  background-color: #121212;
}
.sticky-nav-icons img {
  margin-left: 0.8rem;
  background-color: #121212;
}

.sticky-nav-options {
  display: flex;
  align-items: center;
  background-color: #121212;
}

.sticky-nav-options button {
  margin-left: 0.5rem;
}
.sticky-nav-options > i {
  margin: 0rem 0.5rem;
  margin-top: 0.7rem;
}

.dark-badge {
  background-color: black;
  color: #ffffff;
  border: 0;
}

.card {
  background-color: #232323;
  width: 150px;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  background-color: #121212;
}

.card img {
  width: 100%;
  border-radius: 0.5rem;
}

.card-title {
  font-size: 1.12rem;
  font-weight: 600;
  background-color: #232323;
}

.card-info {
  font-size: 1rem;
  margin-top: 0.7rem;
  opacity: 0.7;
  background-color: #232323;
}

.footer {
  height: 200px;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 90%;
  height: 30%;
  border-top: 1px solid white;
  background-color: #121212;
  opacity: 0.4;
}

.music-player {
  background-color: #121212;
  display: flex;
}
.album {
  background-color: #121212;
  width: 25%;
}
.player {
  background-color: #121212;
  width: 50%;
}
.control {
  margin-right: 2rem;
  background-color: #121212;
  width: 25%;
}
.player-control-icon {
  height: 1rem;

  margin-right: 2rem;
  opacity: 0.7;
}

.player-control {
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-control-icon:hover {
  opacity: 1;
}
